.container{
display: flex;
justify-content: space-between;

}

.button{
    width: 100px;
    cursor: pointer;
    background-color: rgb(174, 35, 35);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 2px;
}
